
.aboutContainer {
  max-width: 1200px;
  margin-top: 200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.intro,
.history {
  background-color: #444141;
  padding: 2rem;
  border-radius: 10px;
  line-height: 1.6;
  font-size: 1rem;
  color: #e0dccc;
}

.cardsSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 800px) {
  .cardsSection {
    grid-template-columns: repeat(3, 1fr);
  }
  .aboutContainer{
    justify-content: center;
  }
}

.intro p,
.history p {
  font-size: 1rem;
}

.intro {
  background: linear-gradient(145deg, #86817b, #686563);
}

.history {
  background: linear-gradient(145deg, #5f5d5a, #5a5651);
}

.cardsSection > * {
  background-color: #3c4669;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardsSection > *:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

section {
  padding: 1rem 0;
}
