.btnItem {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #6d7f9e; 
  color: #000; 
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btnItem:hover {
  transform: scale(1.05);
   box-shadow: 0 0 10px #FFC300;
  color:aliceblue;
}
