.card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: #616194;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 85px;
}

.cardImage {
  margin-top: 6px;
  width: 290px;
  height: 360px;
  object-fit: cover;
  border-radius: 15px; 
}

.cardContent {
  padding: 12px;
}

.cardTitle {
  font-size: 1.1rem;
  margin-bottom: 6px;
  color: #f0e8e8;
}

.cardDescription {
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #f0e8e8;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFE066;
  color:aliceblue;
}
