.titleWrapper {
  text-align: center;  
  margin-bottom: 30px;

}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #e2d790; 
}

.subtitle {
  font-size: 1rem;
  color: #D4AF37;
  margin-top: 5px;
}
.titleWrapper:hover {
  transform: scale(1.05);
   color: 0 0 10px #FFC300;
}
.title:hover{
    color: #D4AF37;
}