* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  margin-top: 30px;
  font-family: 'Georgia', serif;
  background-color: rgba(34, 34, 34, 8.4);
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 500vh;
  width: 100%;
  font-family: 'Georgia', serif;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}

.hours-location p {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
